<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css' />
		<!-- font awesome -->
		<link rel="stylesheet" type="text/css" href="stylesheets/libs/font-awesome.min.css">
		<!-- jquery -->
		<script type="text/javascript" src="assets/jquery.js"></script>
		<!-- bootstrap -->
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<!-- animate.css -->
		<link rel="stylesheet" href="assets/animate/animate.css" />
		<link rel="stylesheet" href="assets/animate/set.css" />
		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="assets/style.css" />
		<script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
		<title>Admin dashboard</title>
		<script type="text/javascript" src="javascripts/controller/DashboardController.js"></script>
	</head>
	<body ng-controller="DashboardController">
		<div class="topbar animated fadeInLeftBig"></div>
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-nav">
					<div class="container">
						<div class="navbar-header">
							<!-- Logo Starts -->
							<a class="navbar-brand" href="/">
								<i class="fa fa-beer fa-3x"></i>
							</a>
							<!-- #Logo Ends -->
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Nav Starts -->
						<div class="navbar-collapse collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="active">
									<a href="/admin">Wine</a>
								</li>
								<li>
									<a href="/admin/wineType">Type</a>
								</li>
								<li>
									<a href="/admin/wineMaker">Wine maker</a>
								</li>
								<li>
									<a href="/admin/country">Country</a>
								</li>
								<li>
									<a href="/admin/volume">Volume</a>
								</li>
								<li>
									<a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
								</li>
							</ul>
						</div>
						<!-- #Nav Ends -->
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="margin: 150px;">
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
						<input class="form-control" id="wineFilter" type="text" placeholder="Filter" width="100%" autofocus ng-model="wineFilter">
					</div>
				</div>
				<div class="col-lg-5"></div>
				<div class="col-lg-3">
					<a href="#" class="btn btn-success pull-right">+ Add new Wine</a>
				</div>
			</div>
			<div class="row">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Type</th>
							<th>Color</th>
							<th>Blend</th>
							<th>Rating</th>
							<th>Strength</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="wine in wines | filter:$normalize(wineFilter)">
							<td width="5%">{{$index + 1}}</td>
							<td width="20%"><a href="#" ng-click="displayWineDetail(wine.name, wine.wineMakerID)">{{wine.name}}</a></td>
							<td width="10%">{{wine.type}}</td>
							<td width="10%">{{wine.color}}</td>
							<td width="10%">{{wine.characteristic.blend}}</td>
							<td width="10%">{{wine.rating}}</td>
							<td width="10%">{{wine.characteristic.strength}}</td>
							<td width="5%"><a href="#"><i class="fa fa-pencil-square-o" ng-click="editWine(wine.name, wine.wineMakerID)"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</body>
</html>