<!DOCTYPE html>
<html>
	<head>
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
			<!-- Google fonts -->
			<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
			<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
			<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css' />
			<!-- font awesome -->
			<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /> -->
			<link rel="stylesheet" type="text/css" href="stylesheets/libs/font-awesome.min.css"><!-- jquery -->
			<script src="assets/jquery.js"></script>
			<!-- bootstrap -->
			<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
			<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>
			<!-- animate.css -->
			<link rel="stylesheet" href="assets/animate/animate.css" />
			<link rel="stylesheet" href="assets/animate/set.css" />
			<!-- favicon -->
			<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
			<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
			<link rel="stylesheet" href="assets/style.css" />
			<script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
			<title>Wine detail</title>
			<script type="text/javascript" src="javascripts/controller/HomeController.js"></script>
		</head>
	</head>
	<body>
		
	</body>
</html>